body{
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
    margin: 50px;

}
a{
    color: #38bdf8;
    text-decoration: none;
}
h1{
    text-align: left;
}
header{
    margin-bottom: auto;
}
nav{
    text-align: right;
}
ul{
    justify-content: flex-end;
    display: flex;
    list-style: none;
    gap: 20px
}
img{
    width: 180px;
    height: 180px;
    float: left;
    object-fit: cover;
    border-radius: 50%;
}
h2{
    text-align: left;
}
main p{
    font-size: 18px;
    line-height: 1.6;
}
main {
    max-width: 800px;
}

ul li {
    margin-bottom: 15px;
}